# Server
SERVER_PORT=8080

# Database
MYSQL_DATABASE=interview_db
MYSQL_HOST=localhost
MYSQL_PORT=3306
# MYSQL_USER=root
MYSQL_ROOT_PASSWORD=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
